{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

    <a href="templates/course.html"><img src="static/imgs/backArrow.svg" alt=""></a>

    <p class="courseName">Дискретная математика для программистов</p>

    <p class="descriptionTitle">Описание</p>
    <p class="description">Этот курс представляет из себя ебейший lorem ipsum, который ты никогда не поймёшь</p>

    <p class="descriptionTitle2">План</p>
    <p class="description2">Блок 1 <br>
            &nbsp;&nbsp;&nbsp;&nbsp; урок 1 <br>
            &nbsp;&nbsp;&nbsp;&nbsp; урок 2 <br>
        Блок 2 <br>
            &nbsp;&nbsp;&nbsp;&nbsp; урок 1 <br>
            &nbsp;&nbsp;&nbsp;&nbsp; урок 2 <br>
    </p>

    <div class="video">
        <!--вставить видео-->
    </div>

    <p class="row12">Продолжительность: <br> Сложность: <br> Проверка: </p>

    <p class="row22">365 ч<br> высокая <br> тесты </p>

    <a href="{% url 'course' %}" class="continueHref">
        <div class="continueButton"><p class="continueButtonText">Поступить</p></div>
    </a>

{% endblock %}