{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

    <p class="courseName">Дискретная математика для программистов</p>

    <p class="part1">Блок 1</p>

    <div class="lesson1">
        <div class="lessonName"><p class="lessonNameText"></p></div>
        <div class="testCount"><p class="testCountText"></p></div>
        <div class="rating"><img src="templates/imgs/star.svg" alt=""><img src="templates/imgs/star.svg" alt=""><img src="templates/imgs/star.svg" alt=""></div>
        <div class="completed"><img src="templates/imgs/tick.svg" alt=""></div>
    </div>

    <div class="lesson2">
        <div class="lessonName2"><p class="lessonNameText2"></p></div>
        <div class="testCount2"><p class="testCountText2"></p></div>
        <div class="rating2"><img src="templates/imgs/star.svg" alt=""></div>
        <div class="completed2"><img src="templates/imgs/cross.svg" alt=""></div>
    </div>

    <p class="row1">Пройдено тестов: <br> Осталось времени: <br> Средний балл: </p>

    <p class="row2">20/200 <br> 360 ч <br> 4.5 </p>

    <a href="{% url 'lesson' %}" class="continueHref">
        <div class="continueButton"><p class="continueButtonText">Продолжить</p></div>
    </a>

{% endblock %}