{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

    <a href="templates/course.html"><img src="static/imgs/backArrow.svg" alt=""></a>

    <p class="courseName">Дискретная математика для программистов</p>

    <p class="descriptionTitle">Описание</p>
    <p class="description">Этот курс представляет из себя ебейший lorem ipsum, который ты никогда не поймёшь</p>

    <p class="descriptionTitle">План</p>
    <p class="description">Блок 1 <br>
            урок 1 <br>
            урок 2 <br>
        Блок 2 <br>
            урок 1 <br>
            урок 2 <br>
    </p>

    <div class="video">
        <!--вставить видео-->
    </div>

    <p class="1row">Сложность:</p>
    <p class="2row">Продолжительность:</p>
    <p class="3row">Проверка:</p>

    <p class="4row">тяжеле</p>
    <p class="5row">360 ч</p>
    <p class="6row">тесты</p>

    <input type="button" class="applyButton" value="Поступить">

{% endblock %}