{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

    <a href="templates/course.html"><img src="static/imgs/backArrow.svg" alt=""></a>

    <p class="lessonName">Урок 2</p>

    <p class="questionText">Вопросы</p>

    <p class="question1">1. Что такое диаграмма Венна?</p>

    <div class="variant11"></div>
    <p class="variant11Text"></p>

    <div class="variant21"></div>
    <p class="variant21Text"></p>

    <div class="extendedVideo" tabindex="1">
        <!--вставить видео-->
    </div>

    <div class="closedConspect" tabindex="2"></div>
    <p class="conspectText">Ну здесь собственно конспект. Писать я его, конечно же, не буду</p>

    <p class="gray2" tabindex="3">Показать конспект</p>
    <p class="gray3" tabindex="4">Показать видео</p>

    <input type="button" class="goButton" value="">
    <img src="templates/imgs/nextArrow.svg" alt="">

{% endblock %}