{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
{% load static %}

    <p class="greeting">Здравствуй, Дамир!</p>

    <p class="recommendationTitle">Курсы, рекомендованные тебе</p>

    <div class="leftNav">
        <img src="{% static '/imgs/leftArrow.svg' %}" alt="">
    </div>

    <div class="coursePreview">
        <div class="imgContainer">
            <img src="templates/imgs/1course.jpg" alt="">
        </div>

        <p class="courseTitle">Дискретная математика для программистов</p>
    </div>

    <div class="rightNav">
        <img src="templates/imgs/rightArrow.svg" alt="">
    </div>

    <input type="button" class="applyButton" value="Поступить">

{% endblock %}